name: Deploy to PROD

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deployment-template:
    uses: ./.github/workflows/deployment-template.yml
    with:
      environment_name: "production"
      instance_id: "i-07610f7d64ec5ea17"  # PROD instance ID
    secrets: inherit

  create-tag:
    runs-on: ubuntu-latest
    needs: deployment-template
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get the latest tag
        id: get_tag
        run: |
          latest_tag=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV
        
      - name: Calculate next tag
        id: calc_next_tag
        run: |
          latest_tag=${{ env.latest_tag }}
          version="${latest_tag:1}"
          echo $version
          IFS='.' read -ra ver <<< "$version"
          major="${ver[0]}"
          minor="${ver[1]}"
          patch="${ver[2]}"
          patch=$((patch+1)) 
          next_tag="v${major}.${minor}.${patch}"
          echo "next_tag=$next_tag" >> $GITHUB_ENV

      - name: Create tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git tag ${{ env.next_tag }}
          git push origin ${{ env.next_tag }}

  notify-slack:
    runs-on: ubuntu-latest
    needs: deployment-template
    if: success() && secrets.SLACK_WEBHOOK != ''
    steps:
      - name: Find the Pull Request that triggered this push
        id: find_pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_SHA: ${{ github.sha }}
        run: |
          pr_data=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
          "https://api.github.com/repos/${{ github.repository }}/commits/${COMMIT_SHA}/pulls" \
          -H "Accept: application/vnd.github+json")

          if [[ -z "$pr_data" || "$pr_data" == "[]" || $(echo "$pr_data" | jq 'length == 0') == "true" ]]; then
            echo "No pull request found for this push. Setting title to 'manual push'."
            echo "pr_title=manual push" >> $GITHUB_ENV
          else
            pr_title=$(echo "$pr_data" | jq -r '.[0].title')
            echo "pr_title=$pr_title" >> $GITHUB_ENV
          fi

      - name: Send Slack Notification
        run: |
          curl -X POST -H 'Content-type: application/json' --data \
          '{
            "issue_key": "${{ env.pr_title }}"
          }' ${{ secrets.SLACK_WEBHOOK }}
